/* Main Container */
html{
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
}
body{
    max-width: 90%;
    margin: auto;
    background: lightgrey;
}

/* Title */
#title, p{
    text-align: center;
}

#title{
    padding: 0.5em;
}

h1{
    font-size: 3rem;
    text-decoration: underline;
}

/* Main Image */
#image > img{
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img-caption{
    text-align: center;
}

/* Tribute Information */
h3{
    text-align: center;
}

.tribute-content{
    padding: 1%;
    border: 2px solid black;
    margin: 3%;
    
}

#eden{
    float: left;
    margin: 5px;
}

#collector{
    float: right;
    margin: 5px;
}

#final{
    float: left;
    margin: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Info Link */
#tribute-link{
    text-align: center;
    padding: 1rem;
}
