/* Main Container */
html{
    font-size: 16px;
}
body{
    max-width: max-content;
}
#main{
    width: 90%;
    margin: auto;
}

/* Title */
#title, p{
    text-align: center;
}

/* Main Image */
#image > img{
    width: 100%;
    height: auto;
}
#img-caption{
    text-align: center;
}

/* Tribute Information */
/* Info Link */